body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin-top: 150px;
}

body, h1, h2, .timer-text, .buttons button {
    font-family: 'Dancing Script', cursive;
}

.app-title {
    color: #FA5252;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
}

.work-timer, .break-timer {
    background-color: #2b2929;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer-label {
    color: #FA5252;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.timer-text {
    color: #FA5252;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
}

.arrow-controls {
    display: flex;
    justify-content: space-between;
}

.arrow-btn {
    background-color: #FA5252;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.arrow-btn:hover {
    background-color: #a22e1c;
}

.lofi-timer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 50px; /* Adjust the padding-top value to move the circle up */
}

.spacing {
    margin-top: 20px; /* Adjust as needed */
}

.timer-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width as desired */
    height: 300px; /* Adjust the height as desired */
    border: 10px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    animation: timerAnimate 1500s forwards;
    background-image: url('cooll.gif');
    background-size: cover; /* Ensure the background image covers the entire circle */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image within the circle */
    opacity: 1;
    font-family: 'Pacifico', cursive;
}


@keyframes timerAnimate {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.timer-text#main-timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.progress-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: #2b2929;
    border-radius: 5px;
    margin-top: 20px;
}

#progress-bar {
    height: 100%;
    background-color: #FA5252;
    width: 0;
    border-radius: 5px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #FA5252;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.buttons button:last-child {
    margin-right: 0;
}

.buttons button:hover {
    background-color: #a22e1c;
}

.fa-play,
.fa-stop {
    margin-right: 5px;
}
